<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		<link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900,700' rel='stylesheet' type='text/css'>
		<title>{{ username }}'s blog</title>
		<style type="text/css">
			a:hover {
				text-decoration: none;
			}
		</style>
	</head>
	<body class='container lato'>
		<div class='row titlebar lato'>
			<header class='row'>
				<h1 class='col-md-7 white lato-bold'>BLOGPEDIA</h1>
			</header>
			<nav class='row navbar lato'>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/users/{{username}}/archive">Archive</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</div>
		<div class='col-md-9 content-blog'>
			<div class='bar' style='display: grid'>
				<h2 class='lato-bold'>{{username}}'s blog</h2>
				<a class='text-right' href='/users/{{username}}/newpost'>New Post</a>
			</div>
			{% for post in posts %}
				<hr>
				<div>
					<h3 class='lato-bold'><a href='/users/{{username}}/{{post.key().id()}}'>{{post.subject }}</a></h3>	
					<div>{{post.content.replace('\n', '<br>') | safe }}</div>
				</div>
			{% endfor %}
		</div>
	</body>
</html>