<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900,700' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		<title>Contact</title>
	</head>

	<body class='container lato'>
		<div class='row titlebar lato'>
			<header class='row'>
				<h1 class='col-md-7 white lato-bold'>BLOGPEDIA</h1>
			</header>
			<nav class='row navbar lato'>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</div>
		<div class='col-md-7 content-static'>
			<h2 class='lato-bold'>Contact</h2>
			<p>The author of this website is currently a sophomore studying Electronics and Communication
				at the Indian Institute of Technology, Roorkee.</p>
			<p>He can be contacted via email. He usually responds within a day.</p>
			<p><span class='lato-bold'>E-Mail: </span>rounakbanik@gmail.com</p>
			<p>You can also reach out to him on the following platforms:</p>
			<div>
				<a target='_blank' href="https://www.facebook.com/rounak.banik"><img src="/static/images/facebook2.png"></a>
				<a target='_blank' href="https://twitter.com/Rounak_Banik"><img src="/static/images/twitter.png"></a>
				<a target='_blank' href="https://in.linkedin.com/in/rounak-banik-25a86752"><img src="/static/images/linkedin1.png"></a>
				<a target='_blank' href="https://plus.google.com/+RounakBanik/posts"><img src="/static/images/google-plus.png"></a>
			</div>

		</div>
	</body>
</html>