<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		<link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900,700' rel='stylesheet' type='text/css'>
		<title>Help</title>
	</head>

	<body class='container lato'>
		<div class='row titlebar lato'>
			<header class='row'>
				<h1 class='col-md-7 white lato-bold'>BLOGPEDIA</h1>
			</header>
			<nav class='row navbar lato'>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</div>
		<div class='col-md-7 content-static'>
			<h2 class='lato-bold'>Help</h2>
			<p>The author of this website is no longer actively involved with this project.</p>
			<p>However, if you find any major bugs in the website or have trouble understanding its functioning or features, please e-mail your queries to the following address:</p>
			<p><span class='lato-bold'>E-Mail: </span>rounakbanik@gmail.com</p>

		</div>
	</body>
</html>