<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css" />
		<script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Lato:400,900,700' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		<title>Create a new post</title>
		<style type="text/css">
			a:hover {
				text-decoration: none;
			}
		</style>
		<script type="text/javascript">
			tinymce.init({
  				selector: '#mytextarea',
  				height: 500,
  				plugins: [
    			'advlist autolink lists link image charmap print preview anchor',
    			'searchreplace visualblocks code fullscreen',
    			'insertdatetime media table contextmenu paste code'
  				],
  				toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
  				content_css: [
    			'https://fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
    			'https://www.tinymce.com/css/codepen.min.css'
  			]
			});
		</script>
	</head>
	<body class='container lato'>
		<div class='row titlebar lato'>
			<header class='row'>
				<h1 class='col-md-7 white lato-bold'>BLOGPEDIA</h1>
			</header>
			<nav class='row navbar lato'>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/contact">Contact</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="/users/{{username}}/archive">Archive</a></li>
					<li><a href="/logout">Logout</a></li>
				</ul>
			</nav>
		</div>
		<div class='col-md-8 lato content-edit'>
			<h2 class='lato-bold'>New Post</h2>
			<div class='row error text-center'>{{error }}</div>
			<form method='post'>
				<div class="form-group">
    				<label>Title:</label>
    				<input type="text" class="form-control" id="subject" name='subject' value='{{subject}}'>
  				</div>
  				<div class="form-group">
  					<label>Content:</label>
    				<textarea id='mytextarea' class="form-control" rows="12" name='content'>{{content}}</textarea>
  				</div>
  				<button type="submit" class="btn btn-default">Publish</button>
  			</form>
		</div>
	</body>
</html>